<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/license.css">
  <style>
    html, body{
      overflow-y: auto;
    }
  </style>
  <title>License</title>
</head>
<body>
  <%- include('templates/header') %>
  <main>
    <div id="licenseTXT-wrapper">
      <pre id="licenseTXT"><%- licenseTXT %></pre>
    </div>
  </main>
  <%- include('templates/footer') %>
</body>
</html>