<footer>
  <a href="/license">GNU GPL V3.0</a>
  <p>Developed by NMW</p>
  <p>
    Koden för projektet finns tillgänglig via <br />
    <a href="https://github.com/CandieDEV/StarData"
      >https://github.com/CandieDEV/StarData</a
    >
  </p>
</footer>

<style>
  footer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    text-align: center;
    height: fit-content;
    max-height: 20vh;
    width: 100vw;
    padding: 0.6em;
    border-top: 1px solid rgba(0, 0, 0, 1);
  }
  footer p {
    margin: 0;
  }
</style>
