<footer>
  <a href="/license">GNU GPL V3.0</a>
  <p>Developed by DMW</p>
</footer>

<style>
  footer{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  text-align:center;
  height: fit-content;
  max-height: 20vh;
  width: 100vw;
  padding: .6em;
  border-top: 1px solid rgba(0, 0, 0, 1);
}
footer p{
  margin: 0;
}
</style>