main {
  display: flex;
  flex-direction: row;
  margin: 2%;
  margin-left: 10vw;
}
form {
  display: flex;
  position: relative;
  height: 350px;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

#resultContainer {
  margin-top: 10vh;
}

#canvas-container {
  position: relative;
  width: 35vw;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
}
#imgDisplay {
  z-index: 0;
}
#rectangleDisplay {
  display: none;
  z-index: 1;
}
#outputDisplay {
  z-index: 3;
}

canvas {
  height: 300px;
  width: 300px;
}
#imgDisplay {
  border: 1px solid;
}
.button-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: -4vh;
  gap: 1vw;
}

.hidden {
  display: none;
}
.btnLabel {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  height: 4vh;
}
#fileName {
  position: absolute;
  bottom: -4vh;
}
.pseudoBTN {
  color: black;
  width: fit-content;
  height: 4vh;
  border: 1px solid black;
  padding: 0.08em 0.3em;
  border-radius: 0.2em;
  background-color: white;
}
.pseudoBTN:hover {
  background-color: rgb(238, 238, 238);
  cursor: pointer;
}
.pseudoBTN:active {
  background-color: rgb(215, 213, 213);
  cursor: wait;
}

#userEditBtn-container {
  display: flex;
  flex-direction: column;
  right: 7vw;
  gap: 5vh;
  bottom: -33vh;
}

.toggle {
  display: none !important;
}
table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

thead,
tfoot {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}
tbody > tr:nth-of-type(odd) {
  background-color: rgb(203, 203, 203);
}

#result {
  text-align: center;
}
